name: Waka Readme
on:
  workflow_dispatch:
  schedule:
    # Runs every 12 hours
    - cron: "0 */12 * * *"
jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          REPOSITORY: slowy07/slowy07
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
